.navbar {
    display: flex;
    background-color: #2F558D;
    padding: 2em;
    justify-content: center;
    width: 100%;
}

.lists {
    display: flex;
    list-style: none;
    align-items: center;
}

.item {
    margin: 0px 20px;
}

.item a {
    color: white;
    text-decoration: none;
}

.item a:hover {
    color: rgb(139, 164, 248);
}