* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
  overflow: hidden;
}


.see-all {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  color: rgb(4, 31, 82);
}

.see-all:hover {
  color: rgb(139, 164, 248);
}